@font-face {
	font-family: 'cachecopy';
	src: url(./fonts/yosugara.ttf);
    font-weight: 200;
}



/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
/* ボタンのスタイル */
.hamburger {
    border-radius: 50%;
    background: linear-gradient(-50deg, #d2ffe8,#ffd4d5);
    position: fixed;
    padding: 10px;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 20;
}
.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

/* メニューのスタイル */
.menu {
    position: fixed;
    top: 0;
    right: -100%; /* 初期状態では画面の外に隠れている */
    width: 300px;
    height: calc(100% - 40px);
    background: linear-gradient(-50deg, #d2ffe8,#ffd4d5);
    color: #333;
    transition: right 0.2s ease; /* スライドインのアニメーション */
    padding: 20px;
    margin: 20px 20px 20px 0;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: #ddd 0 0 10px;
    border: #ffd4d5 dashed 4px;
    z-index: 10;
}
/* メニューが開いているとき */
.menu.open {
    right: 0;
}



h1 img{
    position: absolute;
    bottom: 20px;
    left: 20px;
    box-shadow: #ddd 0px 0px 10px;
    width: 300px;
    height: 300px;
}

#top{
    margin: 30px;
    border-radius: 30px;
    padding: 30px 10vw;
    background: linear-gradient(-50deg, #d2ffe8,#ffd4d5);
    box-shadow: #ddd 0px 0px 10px;
}

.cachecopy{
    font-family: 'cachecopy' ,serif;
    font-size: 8em;
}
strong{
    font-weight: 1000;
}