@font-face {
	font-family: 'cachecopy';
	src: url(./fonts/yosugara.ttf);
    font-weight: 200;
}



/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
/* ボタンのスタイル */
.hamburger {
    border-radius: 50%;
    background: linear-gradient(-50deg, #d2ffe8,#ffd4d5);
    border: dashed #aaa 2px;
    position: fixed;
    padding: 10px;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 20;
}
.hamburger:hover{
    box-shadow: #ddd 0 0 10px;
}
.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

/* メニューのスタイル */
.menubox {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(-50deg, #e7fff2, #ffebeb);
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;

    /* アニメーション設定 */
    transform: scale(0);
    transform-origin: top right; /* 右上から広がる */
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;

        /* 中央揃え用 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* メニューが開いているとき */
.menubox.open {
    transform: scale(1);
    opacity: 1;
}
.menubox ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menubox ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border-bottom: #333 solid 2px;
    width: 300px;
    padding: 1em 0;
    transition: all 0.2s ease;
}
.menubox ul li:last-child a{
    border: none;
}
.menubox ul li a:hover{
    background-color: #ffffff99;
}
.menubox ul li a img{
    height: 2em;
}
.menubox .links img{
    border-radius: 50%;
    height: 3em;
}
h1 img{
    position: absolute;
    bottom: 20px;
    left: 20px;
    box-shadow: #ddd 0px 0px 10px;
    width: 300px;
    height: 300px;
}

#top{
    margin: 30px;
    border-radius: 30px;
    padding: 30px 10vw;
    background: linear-gradient(-50deg, #d2ffe8,#ffd4d5);
    box-shadow: #ddd 0px 0px 10px;
}

.cachecopy{
    font-family: 'cachecopy' ,serif;
    font-size: 8em;
}
strong{
    font-weight: 1000;
}